.container {
  display: flex;
  padding: 13px 18px 13px 18px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin: 8px 0px 2px 0px;
  border-radius: var(--ifm-global-radius);
}

.container > div:first-child {
  padding-right: 14px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.15px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}

.contentText {
  display: flex;
  padding: 4px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  gap: 10px;
  align-self: stretch;
}

.contentText > div:first-child {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.error {
  background: var(--psq-alert-error-background);
  border: 1px solid rgba(245, 108, 157, 0.3);
  color: var(--ifm-font-color-secondary);
}

.warning {
  background: var(--psq-alert-warning-background);
  border: 1px solid rgba(255, 147, 100, 1);
  color: var(--ifm-font-color-secondary);
}

.info {
  background: var(--psq-alert-info-background);
  border: 1px solid rgba(2, 136, 209, 0.3);
  color: var(--ifm-font-color-secondary);
}

.success {
  background: var(--psq-alert-success-background);
  border: 1px solid rgba(2, 136, 209, 0.3);
  color: var(--ifm-font-color-secondary);
}

.neutral {
  background:  var(--psq-alert-neutral-background);
  color: var(--ifm-font-color-secondary);
  border: 1px solid var(--Neutral-350, #777);
}

.question {
  background:  var(--psq-alert-neutral-background);
  color: var(--psq-alert-neutral-color);
  border: 1px solid var(--Neutral-350, #777);
}

.svg {
  display: flex;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subquestion {
  display: flex;
  align-items: center;
  gap: 2px;
  align-self: stretch;
}

.subquestionSvg {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.error .svg path {
  fill: var(--psq-alert-error-color);
}

.info .svg path {
  fill: var(--psq-alert-info-color);
}

.warning .svg path {
  fill: var(--psq-alert-warning-color);
}

.success .svg path {
  fill: var(--psq-alert-success-color);
}
