.button {
  display: flex;
  align-items: center;
  border: none;
  padding: 8px 18px 8px 18px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.04);
  border-radius: var(--ifm-global-radius);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  transition: all var(--ifm-transition-slow);
}

.primary {
  background: var(--ifm-color-primary);
  border: 1px solid var(--ifm-color-primary);
  color: var(--psq-primary-button-color);
}

.primary svg path {
  fill: var(--psq-primary-button-color);
}

.primary.button:hover {
  background: var(--ifm-color-primary-focus);
  border: 1px solid var(--ifm-color-primary-focus);
}

.secondary {
  background: transparent;
  color: var(--ifm-color-primary);
  padding: 4px 12px 4px 12px;
  border: 1px solid var(--ifm-color-primary);
}

.secondary.button:hover {
  color: var(--ifm-color-primary-focus);
  border: 1px solid var(--ifm-color-primary-focus);
}

.secondary svg path {
  fill: var(--ifm-color-primary);
}

.button:hover {
  cursor: pointer;
  text-decoration: none !important;
  color: var(--psq-primary-button-color-focus);
}

.button svg {
  margin-right: 9px;
}
