:root {
  --ifm-container-width: 1024px;
  --ifm-container-width-xl: 1280px;

  --ifm-color-primary: #27282B;
  --ifm-color-primary-focus: #3F4146;
  --ifm-color-primary-light: var(--ifm-color-primary);
  --ifm-color-primary-lighter: #006F91;
  --ifm-color-primary-lightest: var(--ifm-color-primary-focus);
  --ifm-color-primary-dark: #97B77D;
  --ifm-color-primary-darkest: #6B8E4E;
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 72px;
  --ifm-global-radius: 4px;
  --ifm-hr-background-color: var(--psq-default-border-color);
  --ifm-toc-border-color: var(--psq-default-border-color) !important;
  --ifm-hr-margin-vertical: 18px;

  --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.46967 14.5303C7.17678 14.2374 7.17678 13.7626 7.46967 13.4697L11.4697 9.46967C11.7626 9.17678 12.2374 9.17678 12.5303 9.46967L16.5303 13.4697C16.8232 13.7626 16.8232 14.2374 16.5303 14.5303C16.2374 14.8232 15.7626 14.8232 15.4697 14.5303L12 11.0607L8.53033 14.5303C8.23744 14.8232 7.76256 14.8232 7.46967 14.5303Z' fill='%238C90A4' /%3E%3C/svg%3E");

  --ifm-link-color: var(--ifm-color-primary-lighter);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lighter);
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-lighter);

  --ifm-font-color-base: #606376;
  --ifm-global-shadow-lw: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #d1d7ff;
  --ifm-code-padding-vertical: 2px;
  --ifm-code-padding-horizontal: 4px;
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-color: #8c90a4;

  --ifm-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";

  --ifm-font-family-monospace: "Plus Jakarta Sans";

  --ifm-heading-color: #1d2032;
  --ifm-heading-font-weight: 500;
  --ifm-heading-line-height: 110%;

  --ifm-heading-font-family: Outfit, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --ifm-menu-color-background-active: var(--psq-menu-color-background-active);
  --ifm-menu-color-background-hover: var(--psq-menu-color-background-hover);

  --ifm-color-success: #80A860;
}

[data-theme="dark"] {
  --ifm-color-primary: #FFFFFF;
  --ifm-color-primary-focus: #CDCDCD;
  --ifm-color-primary-light: var(--ifm-color-primary);
  --ifm-color-primary-lighter: rgba(92, 200, 221, 1);
  --ifm-color-primary-lightest: var(--ifm-color-primary-focus);
  --ifm-color-primary-dark: #00bdd7;
  --ifm-color-primary-darker: #00b2cb;
  --ifm-color-primary-darkest: #00d2ef80;
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.46967 14.5303C7.17678 14.2374 7.17678 13.7626 7.46967 13.4697L11.4697 9.46967C11.7626 9.17678 12.2374 9.17678 12.5303 9.46967L16.5303 13.4697C16.8232 13.7626 16.8232 14.2374 16.5303 14.5303C16.2374 14.8232 15.7626 14.8232 15.4697 14.5303L12 11.0607L8.53033 14.5303C8.23744 14.8232 7.76256 14.8232 7.46967 14.5303Z' fill='%23969EC2' fill-opacity='0.6' /%3E%3C/svg%3E");

  --ifm-global-shadow-lw: 0px 2px 4px -2px rgba(7, 10, 27, 0.05),
    0px 4px 6px -1px rgba(7, 10, 27, 0.05), inset 0px 0px 0px 1px #252838;
  --ifm-menu-color-background-active: var(--psq-menu-color-background-active);
  --ifm-menu-color-background-hover: var(--psq-menu-color-background-hover);
  --ifm-font-color-base: #99a0bf;
  --ifm-heading-color: #ebedff;
  --ifm-background-color: #070a1b !important;
  --ifm-background-surface-color: var(--psq-sidebar-background-color);
  --ifm-navbar-background-color: var(--psq-sidebar-background-color);
}
